In [2]:
# pandas 라이브러리를 불러옵니다.
import pandas as pd

## 1. 데이터를 로드하세요. 데이터는 "," 기준으로 구분되어 있습니다.

In [2]:
# 데이터 출처 : https://www.kaggle.com/code/youngprize33/py-pandas-tutorial/input?select=games.csv
df = pd.read_csv("games.csv")
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
5,3287435705,1501667992132,2059,9,1,2,2,1,1,2,...,6,0,0,3,0,119,134,154,63,31
6,3314215542,1503430065724,1993,9,1,1,2,1,1,1,...,2,0,0,0,0,75,42,31,40,429
7,3329224025,1504472363684,1334,9,1,1,1,0,0,2,...,0,0,0,2,0,157,38,122,40,238
8,3318040883,1503686577549,1387,9,2,2,2,2,0,2,...,8,1,0,2,1,28,51,53,157,40
9,3327786881,1504385918871,2681,9,2,2,2,2,2,2,...,8,3,1,2,0,64,141,84,67,53
10,3325996400,1504273919929,1391,9,2,2,2,2,2,2,...,10,2,1,1,1,19,74,122,59,412
11,3284613292,1501452879926,1671,9,1,1,2,1,0,2,...,2,0,0,2,0,103,154,412,6,64
12,3321570535,1503947039120,2071,9,1,1,1,0,1,2,...,3,0,0,1,0,143,64,254,53,122
13,3323144943,1504057872709,1942,9,1,2,2,1,0,1,...,3,0,0,2,0,154,498,117,141,19
14,3329332855,1504479222082,2374,9,2,2,2,1,1,2,...,9,2,0,2,0,31,67,202,53,119
15,3322311228,1503994240897,1717,9,1,2,1,1,0,1,...,0,0,0,0,0,53,117,141,122,157
16,3316242660,1503574693354,2390,9,2,2,2,2,2,2,...,9,3,2,4,0,18,134,53,420,29
17,3330057565,1504555731094,1994,9,1,2,1,1,1,1,...,2,0,0,0,0,141,1,11,29,122
18,3318940474,1503749118008,1513,9,2,1,2,2,0,2,...,11,3,0,2,0,31,141,119,122,238
19,3320637674,1503859605802,1898,9,2,1,2,2,2,1,...,11,2,1,1,0,117,54,113,157,40
20,3295071448,1502209333389,2026,9,2,1,1,1,2,1,...,11,3,1,2,1,31,20,157,57,6
21,3321629795,1503952076669,1962,9,2,1,2,2,2,1,...,9,1,1,2,0,11,122,141,114,67
22,3289287394,1501791764020,1511,9,2,1,2,2,0,2,...,10,2,0,2,0,154,61,119,113,57
23,3315917080,1503528018225,1756,9,1,1,1,1,1,1,...,2,0,0,0,0,31,96,29,157,516
24,3319260786,1503767869347,2173,9,2,2,2,2,0,1,...,11,3,0,0,0,24,11,91,51,53
25,3287686351,1501687537145,2211,9,2,2,2,2,0,2,...,10,2,0,3,0,11,17,74,157,105
26,3327949154,1504397744603,2472,9,2,2,2,1,1,2,...,10,2,1,3,1,119,113,117,150,238
27,3329435919,1504512692253,1342,9,2,2,2,0,0,2,...,5,0,0,2,0,113,55,40,18,114
28,3328637035,1504454938210,2288,9,2,1,2,2,2,2,...,7,2,1,3,1,72,91,16,75,31
29,3261234207,1499880530839,1899,9,1,1,1,1,1,1,...,2,0,0,1,0,64,121,238,117,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51460,3296213645,1502287630543,1683,9,1,2,1,1,0,2,...,5,0,0,1,1,31,57,67,91,201
51461,3307149277,1502977770565,2132,9,1,1,1,1,1,2,...,4,0,0,1,0,105,122,55,157,119
51462,3317414334,1503620006165,1877,9,2,1,2,2,2,2,...,11,4,1,3,1,157,122,516,131,31
51463,3326610581,1504309743178,3074,9,1,2,2,2,1,2,...,11,4,1,3,0,157,498,516,53,84
51464,3274596291,1500769461552,2169,9,2,1,1,2,2,1,...,7,1,1,1,1,53,268,103,51,64
51465,3328113497,1504430629354,2052,9,1,1,1,1,1,1,...,3,0,0,0,1,24,29,238,119,53
51466,3301398203,1502615526294,2266,9,2,2,1,1,2,2,...,7,1,1,3,1,57,141,25,67,31
51467,3282215271,1501274850897,2155,9,2,1,2,2,2,2,...,7,1,1,3,0,105,51,75,55,141
51468,3322830198,1504034100779,2558,9,1,1,2,2,2,2,...,8,1,1,4,0,45,497,122,150,498
51469,3311061533,1503224434078,1827,9,1,1,2,1,2,2,...,3,0,1,1,0,39,67,122,29,51
51470,3317958465,1503682636225,1309,9,1,2,1,1,0,1,...,1,0,0,0,0,7,164,53,51,516
51471,3303915936,1502743730019,1600,9,1,2,1,1,0,2,...,1,0,0,1,0,51,55,29,90,141
51472,3311241519,1503235106910,1729,9,1,2,1,1,0,1,...,0,0,0,0,0,134,89,31,64,40
51473,3312604525,1503324786065,1851,9,2,1,2,2,2,2,...,11,3,1,3,1,53,122,63,105,238
51474,3330526390,1504596977508,1841,9,2,2,2,2,2,1,...,10,2,1,1,1,90,154,18,31,89
51475,3289393705,1501796513828,1123,9,2,2,2,2,0,2,...,6,1,0,2,1,114,53,120,89,238
51476,3324027965,1504116931395,2389,9,1,2,2,1,0,1,...,5,0,0,1,0,122,105,141,53,516
51477,3326569266,1504309105896,1504,9,2,2,2,2,0,2,...,11,2,0,1,0,223,40,62,53,141
51478,3235091350,1498178480611,1602,9,2,1,2,2,2,2,...,11,3,1,2,1,105,53,154,122,119
51479,3328396986,1504449732117,1557,9,1,1,1,1,0,2,...,1,0,0,2,0,40,91,18,67,117
51480,3323042180,1504043178172,1713,9,2,1,2,2,2,1,...,10,2,1,1,1,202,90,29,36,28
51481,3269295840,1500411788750,2246,9,1,1,1,2,1,2,...,9,2,1,2,0,19,51,154,3,122
51482,3320507859,1503854048040,2522,9,2,1,1,2,2,2,...,11,6,3,5,0,157,122,79,238,141
51483,3328393516,1504448939147,1674,9,2,2,1,2,2,1,...,10,2,1,1,0,-1,412,19,40,29
51484,3316694929,1503589096685,2701,9,2,2,1,2,2,2,...,11,5,2,3,0,57,21,157,53,58
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

## 2. 데이터의 상위 5개 행을 출력하세요

In [3]:
df.head()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

## 3. 6번째 컬럼명을 출력하세요

In [5]:
df.columns[5]

'firstBlood'

## 4. 6번째 컬럼의 데이터 타입을 확인하세요

In [16]:
df.dtypes[5]

dtype('int64')

## 5. 6번째 컬럼의 3번째 값은 무엇인가?

In [20]:
print(df.loc[5][6])

2

## 6. 수치형 변수를 가진 컬럼을 출력하세요

In [26]:
df.select_dtypes(exclude=object).columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

## 7. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요

In [29]:
df.describe()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.149000e+04,5.149000e+04,51490.000000,51490.0,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,...,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,3.306223e+09,1.502926e+12,1832.362808,9.0,1.493552,1.471295,1.450631,1.308487,0.926510,1.442804,...,5.549466,0.985084,0.414547,1.404370,0.240105,108.216294,107.910216,108.690581,108.626044,108.066576
std,2.946096e+07,1.978026e+09,512.017696,0.0,0.499963,0.520326,0.542848,0.676097,0.841424,0.569579,...,3.860989,1.256284,0.613768,1.224492,0.427151,102.551787,102.870710,102.592145,103.346952,102.756149
min,3.214824e+09,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.292218e+09,1.502021e+12,1531.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,37.000000,38.000000,38.000000,38.000000
50%,3.320021e+09,1.503844e+12,1833.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,3.327099e+09,1.504352e+12,2148.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,3.331833e+09,1.504707e+12,4728.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

## 8. map을 활용하여 결과 화면과 같이 나타내세요.

In [ ]:
df= pd.read_csv('NA_handling_method.csv')
print('Original Dataframe')
print(df,end='\n\n')
def f1(x): # f1(x)를 구현하세요.
    
    return x.


df['Argument'] = df['Description'].map(f1) # get the first word

def f2(x): # f2(x)를 구현하세요.
    
    return 

df['Description'] = df['Description'].map(f2) # remove the first word

df = df.reindex(columns=['Argument', 'Description'])

print('New DataFrame')
print(df)

★

## 9. 결측값 데이터를 처리하는 함수들을 활용하여 결과 화면과 똑같이 나타내세요.

In [40]:
from numpy import nan as NA

data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])

print('Original DataFrame')
print(data, end='\n\n')

cleaned = data.dropna()
print('결측값을 제거하세요')
print(cleaned, end='\n\n')

filled = data.fillna(0)
print('결측값을 0으로 채우세요.')
print(filled, end='\n\n')

#filled2 = data.fillna(df['col1'] = 0.5, df.['col2'] = 1)
#print('컬럼 1의 결측값은 0.5, 컬럼 2의 결측값은 1로 채우세요')
#print(filled2, end='\n\n')

Original DataFrame
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

결측값을 제거하세요
     0    1    2
0  1.0  6.5  3.0

결측값을 0으로 채우세요.
     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

## 10. Filtering 기법을 사용하여 결과 화면과 똑같이 나타내세요.

In [3]:
import numpy as np

data = pd.read_csv('filtering.csv')
print(data.columns)
data.describe()

Index(['0', '1', '2', '3'], dtype='object')

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.003217     0.005216     0.011480     0.060450
std       0.994605     1.021078     0.974845     1.000175
min      -3.405433    -3.128737    -2.756538    -2.804253
25%      -0.683914    -0.673399    -0.618797    -0.650437
50%       0.024839     0.026260     0.056754     0.061464
75%       0.691678     0.686333     0.653021     0.751716
max       2.959196     2.921331     2.703505     3.462036

In [7]:
print('"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.')
################
# 필터링을 해주세요.
data[(data['0'] < -2.5) | (data['0'] > 2.5)]
################

"0" 컬럼의 값이 -2.5보다 작거나 2.5보다 큰 row만 남깁니다.

            0         1         2         3
59   2.936586  1.421846  0.207087 -1.110161
119 -2.628193  0.170862 -0.052603  0.136276
344 -3.405433 -0.021406  0.794715  1.487170
347  2.959196  0.455203  2.144226  3.031789
356  2.511460 -0.599986 -0.314441  2.925966
367  2.940238 -0.251607 -0.200506  0.585714
509  2.924329  0.144208 -0.086150 -0.852511
546 -2.743107  1.238505  0.235548 -0.158648
549  2.558939  0.111573 -0.509848 -2.245904
672  2.709143  0.109369  0.283526 -1.227998
910 -2.828788  1.916984  1.633806 -1.667797
992  2.697077  0.774417  1.264697  1.896905